Repository woowa-techcamp-2021/cashbook-4, pull requests merged in 2021-08, with the labels that each got.

#19 [Backend] Sequelize 환경 구성 및 모델 정의입니다.
  backend/package.json
  backend/src/config/db-env.js
  backend/src/config/env.js
  backend/src/config/load-enviroment.js
  backend/src/loader/index.js
  backend/src/loader/sequelize.js
  backend/src/models/account.js
  backend/src/models/category.js
  backend/src/models/index.js
  backend/src/models/payment.js
  backend/src/models/user.js
Labels: backend

#23 [Frontend] 차트 페이지 구현
  frontend/src/common/utils/constant.js
  frontend/src/common/utils/domController.js
  frontend/src/common/utils/functions.js
  frontend/src/common/utils/observer.js
  frontend/src/index.js
  frontend/src/models/cashBookModel.js
  frontend/src/models/mockDatas.js
  frontend/src/models/userModel.js
  frontend/src/views/components/categoryBadge/index.js
  frontend/src/views/components/categoryBadge/style.css
  frontend/src/views/components/dayAccount/account.js
  frontend/src/views/components/header/header.js
  frontend/src/views/components/statistic/chart/line.js
  frontend/src/views/components/statistic/chart/pie.js
  frontend/src/views/components/statistic/chart/style.css
  frontend/src/views/components/statistic/controller.js
  frontend/src/views/components/statistic/index.js
  frontend/src/views/components/statistic/mainChart.js
  frontend/src/views/components/statistic/style.css
  frontend/src/views/components/statistic/subChart.js
  frontend/src/views/pages/statisticPage/index.js
  frontend/src/views/pages/statisticPage/statistic.js
Labels: enhancement, frontend

#26 [Frontend] chart 페이지 컨트롤러 연동 했습니다.
  backend/src/api/routes/account.js
  frontend/src/api/accountAPI.js
  frontend/src/common/utils/notifyTypes.js
  frontend/src/models/cashBookModel.js
  frontend/src/models/userModel.js
  frontend/src/views/components/statistic/chart/line.js
  frontend/src/views/components/statistic/controller.js
  frontend/src/views/components/statistic/mainChart.js
  frontend/src/views/components/statistic/style.css
  frontend/src/views/components/statistic/subChart.js
Labels: frontend

#29 [Backend] 백엔드 payment api를 만들었습니다.
  backend/src/api/middlewares/authMiddleware.js
  backend/src/api/routes/payment.js
  backend/src/errors/errorTypes.js
  backend/src/errors/messages.js
  backend/src/models/account.js
  backend/src/models/index.js
  backend/src/services/auth.js
  backend/src/services/payment.js
  backend/src/utils/http-status.js
  backend/test/auth.test.js
  backend/test/index.js
  backend/test/payment.test.js
Labels: backend

#35 [Frontend] account 생성기능 추가
  backend/src/services/account.js
  frontend/src/api/accountAPI.js
  frontend/src/models/cashBookModel.js
  frontend/src/views/components/historyContainer/controller.js
  frontend/src/views/components/historyContainer/historyPanel.js
Labels: frontend

#37 [FrontEnd] - 수정 등록 기능 구현 했습니다.
  frontend/src/api/accountAPI.js
  frontend/src/models/cashBookModel.js
  frontend/src/views/components/historyContainer/controller.js
  frontend/src/views/components/historyContainer/historyPanel.js
Labels: frontend

#40 [FrontEnd] 데이터 비어있음 표시
  frontend/src/views/components/historyContainer/historyContent.js
  frontend/src/views/components/historyContainer/historyPanel.js
  frontend/src/views/components/icons/index.js
  frontend/src/views/components/statistic/mainChart.js
  frontend/src/views/components/statistic/style.css
Labels: frontend

#43 [Backend] 배포 환경 설정
  backend/package.json
  backend/process.json
Labels: backend, env

#47 [Backend] account api 중 Delete를 구현했습니다.
  backend/src/api/middlewares/accountValidator.js
  backend/src/api/middlewares/authValidator.js
  backend/src/api/middlewares/paymentValidator.js
  backend/src/api/routes/account.js
  backend/src/api/routes/auth.js
  backend/src/api/routes/payment.js
  backend/src/services/account.js
Labels: backend, enhancement

#49 [FrontEnd] 삭제기능 구현 했습니다.
  frontend/src/api/accountAPI.js
  frontend/src/common/utils/notifyTypes.js
  frontend/src/models/cashBookModel.js
  frontend/src/views/components/dayAccount/account.js
  frontend/src/views/components/dayAccount/style.css
  frontend/src/views/components/historyContainer/controller.js
  frontend/src/views/components/historyContainer/historyPanel.js
  frontend/src/views/components/icons/index.js
Labels: enhancement, frontend

#51 [Fix] chart, calendar header 높이 수정했습니다.
  backend/src/createCategory.js
  frontend/src/views/components/calendar/index.js
  frontend/src/views/components/calendar/style.css
  frontend/src/views/components/statistic/index.js
  frontend/src/views/components/statistic/mainChart.js
  frontend/src/views/components/statistic/style.css
Labels: bug, frontend
