Repository woowa-techcamp-2021/cashbook-4, pull requests merged in 2021-07, with the labels that each got.

#1 [Frontend] 프론트엔드 해시 라우터 에 대한 PR입니다.
  frontend/package-lock.json
  frontend/package.json
  frontend/src/index.html
  frontend/src/index.js
Labels: frontend

#7 [Frontend] 캘린더 구현 했습니다.
  frontend/.eslintrc
  frontend/package-lock.json
  frontend/package.json
  frontend/src/common/utils/domController.js
  frontend/src/common/utils/functions.js
  frontend/src/index.js
  frontend/src/models/api.js
  frontend/src/models/cashBookModel.js
  frontend/src/views/components/calendar/calendarContent.js
  frontend/src/views/components/calendar/calendarHeader.js
  frontend/src/views/components/calendar/calendarStatistic.js
  frontend/src/views/components/calendar/controller.js
  frontend/src/views/components/calendar/index.js
  frontend/src/views/components/calendar/style.css
  frontend/src/views/components/header/controller.js
  frontend/src/views/components/header/header.js
  frontend/src/views/pages/mainPage/main.js
  frontend/webpack.config.dev.js
Labels: frontend

#10 [Deploy] 자동배포중 frontend 자동 빌드 및 nginx 서비스 부분에대한 PR입니다
  deploy.sh
  frontend/src/views/components/historyContainer/historyContent.js
Labels: env

#12 [Fix] mockup api 통합 및 필터 버그 수정
  frontend/src/common/utils/baseController.js
  frontend/src/common/utils/functions.js
  frontend/src/common/utils/notifyTypes.js
  frontend/src/models/cashBookModel.js
  frontend/src/views/components/calendar/calendarContent.js
  frontend/src/views/components/calendar/calendarStatistic.js
  frontend/src/views/components/calendar/controller.js
  frontend/src/views/components/dayAccount/account.js
  frontend/src/views/components/dayAccount/index.js
  frontend/src/views/components/dayAccount/style.css
  frontend/src/views/components/historyContainer/controller.js
  frontend/src/views/components/historyContainer/historyContent.js
  frontend/src/views/components/historyContainer/historyPanel.js
  frontend/src/views/components/historyContainer/historyStatistics.js
  frontend/src/views/components/historyContainer/index.js
  frontend/src/views/components/historyContainer/style.css
  frontend/src/views/pages/mainPage/main.js
Labels: bug, frontend
